[submodule "NFS-Programming-Course"]
	path = NFS-Programming-Course
	url = https://github.com/devjewel01/NFS-Programming-Course
[submodule "Robotics-and-Programming-Course-by-Comilla-Deputy-Commissioner-Office"]
	path = Robotics-and-Programming-Course-by-Comilla-Deputy-Commissioner-Office
	url = https://github.com/devjewel01/Robotics-and-Programming-Course-by-Comilla-Deputy-Commissioner-Office
[submodule "MyCourses"]
	path = MyCourses
	url = https://github.com/devjewel01/MyCourses
