<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robotics Course</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>

    <nav class="nav">
      <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="logo col col-sm-3">
            <a href="#">
              <img src="./assets/images/logo.jpg" class="logo" />
            </a>
          </div>

          <div class="col col-sm-9">
            <ul class="nav-bar">
              <li class="nav-bar__item">
                <a href="#" class="nav-bar__item--link active"> হোম </a>
              </li>
              <li class="nav-bar__item">
                <a href="#" class="nav-bar__item--link"> আয়োজক </a>
              </li>
              <li class="nav-bar__item">
                <a href="start_course/index.html" class="nav-bar__item--link"> স্টার্ট কোর্স </a>
              </li>
              <li class="nav-bar__item">
                <a href="#" class="nav-bar__item--link"> স্কুল সমুহ </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    


    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <h4 class="h2">যোগাযোগঃ</h4>
            <p>মোবাইলঃ 01874280811</p>
            <p>ইমেইলঃ jewel@gmail.com</p>
            <a href="start_course/index.html" class="text-danger display-4"
              >কোর্সসমূহ &nearr;</a
            >
          </div>
          <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
            accusantium?
          </div>
        </div>
        <div class="row text-center mt-5">
          <div class="col">
            <p class="pargraph-1">
              Copyright &copy; <a
                href="https://github.com/devjewel01/Robotics-and-Programming-Course"
                >ICT department</a
              >, Comilla University,2021
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
